*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: black;
}
.parent{
  padding: 20px;
  display: flex;flex-direction: row;
}
.card{ 
  width: 300px;
  border: 5px solid #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #222;
  text-align: center;
}
.card p{
  margin-top: 10px;
}
.card button{
  padding:10px 20px;
  color: #fff;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 20px;
}
.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}
